<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALZOMLCwVU31vhTbA0snN62JC_Ez_J4Lc</string>
	<key>GCM_SENDER_ID</key>
	<string>1095499081927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flowtrack</string>
	<key>PROJECT_ID</key>
	<string>my-flow-track</string>
	<key>STORAGE_BUCKET</key>
	<string>my-flow-track.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095499081927:ios:41ae275bfd456af58336e2</string>
	
</dict>
</plist>